## Pandas Library

Useful for Data Processing and Analysis

#### Pandas Data Frame
Pandas DataFrame is 2-dimensional tabular data structure with labeled axis(rows and columns)

In [21]:
# Importing pandas and numpy library 
import pandas as pd
import numpy as np

Creating a Pandas DataFrame

In [4]:
# importing the california house price data
from sklearn.datasets import fetch_california_housing

In [5]:
california_dataset = fetch_california_housing()

In [6]:
type(california_dataset)

sklearn.utils._bunch.Bunch

In [ ]:
# This type of data is not suitable for analysis because of the structure
print(california_dataset)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]], shape=(20640, 8)), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894], shape=(20640,)), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [15]:
# pandas DataFrame for better structured format of data
# pd.DataFrame(data, columnm name)
california_df = pd.DataFrame(california_dataset.data, columns = california_dataset.feature_names)
type(california_df)

pandas.core.frame.DataFrame

In [ ]:
# To print the first 5 rows of the dataset
california_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
# To get the shape of the dataset
# (rows, columns)
california_df.shape

(20640, 8)

Importing data from a csv file to a pandas DataFrame

csv : comma seperated values

In [13]:
# # csv file to dataFrame
df = pd.read_csv(r"C:\Users\varen\OneDrive\Documents\Machine Learning\Pandas\dataset\diabetes.csv")

In [14]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
df.shape

(768, 9)

Loading the data from a excel file to Pandas DataFrame
* pd.read_excel("file name")

Exporting a DataFrame to a csv file

In [18]:
california_df.to_csv("california.csv")

Similarly if you wan to export DataFrame to excel :
* df.to_excel("file name")

In [22]:
# Creating a data frame  with random values
random_df = pd.DataFrame(np.random.rand(20,10))

random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.041141,0.069284,0.689179,0.021896,0.651586,0.951077,0.278106,0.137665,0.586612,0.532779
1,0.648478,0.161486,0.986659,0.783656,0.034890,0.401251,0.973689,0.208297,0.659811,0.646098
2,0.084372,0.122751,0.852312,0.134313,0.235067,0.493627,0.428126,0.535810,0.027784,0.849450
3,0.524590,0.334972,0.882008,0.430145,0.266113,0.490811,0.537312,0.674599,0.826450,0.221932
4,0.297289,0.193001,0.877669,0.624886,0.388140,0.987574,0.501710,0.236124,0.456541,0.233114

In [23]:
random_df.shape

(20, 10)

Inspecting a DataFrame

In [24]:
# finding the number of rows and columns
california_df.shape

(20640, 8)

In [25]:
# First 5 rows in DataFrame
california_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [26]:
# last 5 rows of DataFrame
california_df.tail()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [27]:
#Information about the DataFrame
california_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB